h2{
  background-color: blue;
}

header{
  background-color: red;
  height:100px;
  width:100%;
}



nav{
background-color: green;
height:50px;
width:100%;
}
main{
  background-color: yellow;
  height:400px;
  width:70%;
}
aside{
  background-color: pink;
  height:400px;
  width:30%;
}
footer{
  background-color: blue;
  height:100px;
  width:100%;
}
#mainwrapper{
display:flex;

}
#wrapper{
  width: 100%;
  margin-left:auto;
  margin-right:auto:
}
@media only screen and (max-width:600px){

  #mainwrapper{
    display: flex;
    flex-direction: column;
  }

}

}
